               @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;1,800&display=swap');
               body {
            font-family: "Work Sans";
            margin: 20px;
            background-color: #f0f0f0;
            color: #333;
            background-image: url('images/ctugbg.gif');
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            height: 95vh;
        }
        
        .topheader {
            position: fixed;
            left: 100px;
            flex-wrap: wrap;
            right: 100px;
            background-color: gray;
            padding: 16px;
            gap: 16px;
            border-radius: 6px;
            justify-content: center;
        }
                .topinside {
            position: fixed;
            left: 60px;
            flex-wrap: wrap;
            right: 60px;
            background-color: gray;
            padding: 16px;
            gap: 16px;
            margin-top: 115px;
            border-radius: 6px;
            justify-content: center;
        }
                .topinsideinvis {
            position: fixed;
            left: 60px;
            flex-wrap: wrap;
            right: 60px;
            padding: 16px;
            gap: 16px;
            margin-top: 115px;
            border-radius: 6px;
            justify-content: center;
        }
                        .game-contain {
            position: fixed;
            left: 0px;
            display: flex;
            flex-wrap: wrap;
            right: 0px;
            background-color: gray;
            padding: 16px;
            gap: 16px;
            margin-top: 40px;
            border-radius: 6px;
            justify-content: center;
        }
                .topbaring {
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            justify-content: center;
              margin-top: -8px;
                justify-content: center;
        }
        body::-webkit-scrollbar {
        display: none;
        }
        .imgleft {
            display: flex;
            top: 20px;
            position: fixed;
            justify-content: center;
            padding: 8px;
            transition: transform .2s;
        }
        .imgleft:hover {
                  -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
        }
        .button {
            background-color: #404040;
            color: white;
            text-align: center;
            justify-content: center;
            border-radius: 8px;
            font-size: 24px;
            padding: 3px 15px;
            transition: transform .2s;
            text-decoration: none;
        }
        .button:hover {
            background-color: white;
            color: black;
                  -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
        }
        .buttonimage {
            background-color: #404040;
            color: white;
            justify-content: center;
            border-radius: 8px;
            font-size: 24px;
            padding: 3px 15px;
            transition: transform .2s;
            text-decoration: none;
        }
        .buttonimage:hover {
            background-color: grey;
            color: black;
                  -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
        }
        .buttoncollection {
            justify-content: center;
            display: flex;
            gap: 16px;
            padding: 0px 16px;
        }
        .page {
     	    position: absolute;
      		top: 1%;
	        left: 50%;
	        right: -30%;
	        height: auto;
	        height: 0vh;
            flex-wrap: wrap;
            gap: 10px;
            text-align: center;
            justify-content: center;
	        transform: translate(-50%, -50%);
        }
        .buttoncollectionright {
            justify-content: right;
            display: flex;
            gap: 16px;
            padding: 0px 16px;
        }
                .buttoncollection {
            justify-content: center;
            display: flex;
            gap: 16px;
            padding: 0px 16px;
        }
        .bigtext {
            display: flex;
            font-size: 60px;
            justify-content: center;
            color: white;
        }
        .yap {
            font-size: 25px;
            margin-top: 17px;
            margin-bottom: 20px;
            color: white;
        }
        .fixupimage {
            display: flex;
            justify-content: center;
    margin-top: 130px;
    margin-bottom: 1px;
        }

        .chillytoonsysunblockedgames {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 50px;
    color: white;
     }
       .frontpage {
     	    position: absolute;
      		top: 1%;
	        left: 50%;
	        right: -30%;
	        height: auto;
	        height: 0vh;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            text-align: center;
            justify-content: center;
	        transform: translate(-50%, -50%);
        }
       .gamepage {
     	    position: absolute;
      		top: -2%;
	        left: 50%;
	        right: -30%;
	        height: auto;
	        height: 0vh;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            text-align: center;
            justify-content: center;
	        transform: translate(-50%, -50%);
        }
           .naenae {

            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: px;
            justify-content: center;
        }
                    .buttonselected {
            background-color: #9C9C9C;
            color: white;
            text-align: center;
            justify-content: center;
            border-radius: 8px;
            font-size: 24px;
            padding: 3px 15px;
            transition: transform .2s;
            text-decoration: none;
                        flex-wrap: flex;
}
.buttonselected:hover {
    background-color: #9C9C9C;
                      -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
}
         .game-icon {
  padding: 6px;
  background-color:;
  color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 25px;
  justify-content: center;
 transition: transform .2s;
}
.game-icon:hover {
    background-color: white;
    color: black;
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1);  
} 
.name-of-game {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
}
.usborder {
      border-radius: 20px;
}
        .game-card {
            background-color: gray;
            border: 6px solid #404040;
            border-radius: 8px;
            color: white;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 0px;
            width: 1200px;
            text-align: center;
        }
                .game-card h3 {
            margin-top: 0;
            color: #333;
        }
        .game-card iframe {
            width: 100%;
            height: 678px; /* Adjust as needed */
            border: none;
            border-radius: 2px;
        }
                   .gametab {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            margin-bottom: 40px;
            justify-content: center;
        }
                    .c-buttongame {
  font-family: "Work Sans";
  appearance: none;
  border: 0;
  display:;
border-color: #fff;
  border-radius: 8px;
  background: #666666;
  color: #fff;
  padding: 7px 35px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  transition: transform .2s;
}
        .c-buttongame:hover {
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
      -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}
                .tools {
            display: flex;
            flex-wrap: wrap;
                gap: 11px;
            justify-content: center;
              margin-top: -8px;
                            margin-bottom: 8px;
                justify-content: center;
        }
        @media(max-width: 800px;) {
            .HideonMobile {
                display: none;
            }
        }
.imagecool {
    display: flex;
    transition: transform .2s;
}
        .imagecool:hover {
                  -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
        }
                .buttonfixed {
            background-color: #404040;
            color: white;
            text-align: center;
            justify-content: center;
            border-radius: 8px;
            font-size: 20px;
            padding: 3px 15px;
            transition: transform .2s;
            text-decoration: none;
        }
        .buttonfixed:hover {
            background-color: white;
            color: black;
                  -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);
        }
        .gamenameoftab {
    margin-top: 60px;
    margin-bottom: -30px;
    font-size: 35px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: white;
}